# Beginner Level 
- Hello World program
- variables and simple data types

## Reference 
- Python Crash Course by Eric Matthes (page 1-50)

print("This is my 100 days python learning journey")

In [13]:
print("Welcome to my World")

Welcome to my World

---

### Variables and Simple Data types
- simple arithmetic operation

In [90]:
number_1 = 10
number_2 = 20
print(number_1 + number_2)
print(number_2 - number_1)
print(number_1 * number_2)
print(number_2 / number_1)
print(number_2 % number_1)
print(number_1 ** number_2)

30
10
200
2.0
0
100000000000000000000

## String 
A string is simply a series of characters. Anything inside quotes is considered
a string i  Pytho. 

- "This is a string."- 
'This is also a string.'
          n

In [39]:
name = "Ada lovelace"
print(name)

Ada lovelace

### Let's use some string method

In [42]:
text = "day one"
print(text.title())

Day One

In [44]:
text = "BAngladesh"
print(text.upper())
print(text.lower())

BANGLADESH
bangladesh

### Concatening Strings

In [53]:
first_name = "Ada"
last_name = "Lovelace"
full_name = first_name + " " + last_name
print(full_name.upper())

ADA LOVELACE

### Adding Whitespace to Strings with Tabs or Newlines

In [62]:
print("\tPython")
print("\tLanguages : \n\t Python \n\t Javascript \n\t C++")

	Python
	Languages :
	 Python
	 Javascript
	 C++

#### to remove extra whitespace

In [82]:
language = '  python  '
language.lstrip()

'python  '

In [84]:
language.rstrip()

'  python'

In [86]:
language.strip()

'python'

In [94]:
age = 23 
text = "Happy " + str(age) + "rd Birthday !"
print(text)

Happy 23rd Birthday !

#### how to do comment in Python ?

In [101]:
# Say Hello to Everyone
print("Hello to Everyone")

Hello to Everyone

## The Zen of Python

In [103]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# **List in Pyrhon**

In [113]:
languages = ['C', 'C++', 'Java', 'Python']
print(languages)

['C', 'C++', 'Java', 'Python']

In [117]:
print(languages[3])

Python

In [123]:
print(languages[3].upper())

PYTHON

In [127]:
print(languages[-1])
print(languages[-2])

Python
Java

## Changing , Adding, Removing Elements

In [132]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [136]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [142]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

### or we can initial like this

In [145]:
motorcycle = []
motorcycle.append('honda')
motorcycle.append('yamaha')
motorcycle.append('suzuki')

print(motorcycle)

['honda', 'yamaha', 'suzuki']

## Deleting elements

In [148]:
del motorcycle[0]
print(motorcycle)

['yamaha', 'suzuki']

## Removing an item using pop() Method

In [155]:
motorcycle = ['honda', 'yamaha', 'suzuki']
popped_motorcycle = motorcycle.pop()
print(motorcycle)
print(popped_motorcycle)

['honda', 'yamaha']
suzuki

In [157]:
last_owned = motorcycle.pop()
print("The last motorcycle i owned was a " + last_owned.title() + ".")

The last motorcycle i owned was a Yamaha.

## we can also pop() method using index

In [160]:
motorcycle = ['honda', 'yamaha', 'suzuki']
last = motorcycle.pop(0)
print("My favourite bike name is " + last.title() + "." )

My favourite bike name is Honda.

## Removing an item by Value

- The remove() method deletes only the first occurrence of the value you specify
-  we can remove multiple occurence using loop

In [163]:
motorcycles.remove("suzuki")
print(motorcycles)

['honda', 'yamaha']

In [173]:
car = ['Lambo', 'BMW', 'Audi', 'Porsche', 'McLaren']
word = 'Lambo'
car.remove(word)
print(car)

['BMW', 'Audi', 'Porsche', 'McLaren']

In [178]:
car = ['Lambo', 'BMW', 'Lambo', 'Audi', 'Lambo', 'Porsche', 'McLaren']
word = 'Lambo'
for i in car:
   if(i == 'Lambo'):
       car.remove(word)

print(car)

['BMW', 'Audi', 'Porsche', 'McLaren']

## using insert() method

In [183]:
car.insert(2, 'pagani')
print(car)

['BMW', 'Audi', 'pagani', 'Porsche', 'McLaren']

In [185]:
car.pop(3)
print(car)

['BMW', 'Audi', 'pagani', 'McLaren']

## Organizing List

In [188]:
car = ['Lambo', 'BMW', 'Audi', 'Porsche', 'McLaren', 'Pagani']
car.sort()
print(car)

['Audi', 'BMW', 'Lambo', 'McLaren', 'Pagani', 'Porsche']

In [190]:
car.sort(reverse = True)
print(car)

['Porsche', 'Pagani', 'McLaren', 'Lambo', 'BMW', 'Audi']

### sorted() method 
- The sorted() function lets you display your list
in a particular order but doesn’t affect the actual order of the list.

In [196]:
car = ['Lambo', 'BMW', 'Audi', 'Porsche', 'McLaren', 'Pagani']
print("Here is the orginal list:")
print(car)

print("\nHere is the sorted list:")
print(sorted(car))

print("\nHere is the orginal list again:")
print(car)

Here is the orginal list:
['Lambo', 'BMW', 'Audi', 'Porsche', 'McLaren', 'Pagani']

Here is the sorted list:
['Audi', 'BMW', 'Lambo', 'McLaren', 'Pagani', 'Porsche']

Here is the orginal list again:
['Lambo', 'BMW', 'Audi', 'Porsche', 'McLaren', 'Pagani']

## Printing a list in Reverse Order

In [199]:
car.reverse()
print(car)

['Pagani', 'McLaren', 'Porsche', 'Audi', 'BMW', 'Lambo']

## Finding the Length of a List

In [202]:
len(car)

6

In [217]:
travel = ['Saudi Arab', 'Finland', 'Japan', 'Uk', 'France']
print(sorted(travel))
print(sorted(travel, reverse = True))

['Finland', 'France', 'Japan', 'Saudi Arab', 'Uk']
['Uk', 'Saudi Arab', 'Japan', 'France', 'Finland']

In [231]:
travel.sort()
print(travel)

['Finland', 'France', 'Japan', 'Saudi Arab', 'Uk']

In [235]:
travel.sort(reverse = True)
print(travel)

['Uk', 'Saudi Arab', 'Japan', 'France', 'Finland']